.footer {
  background-color: $color-darkblue;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  border-radius: 0px 0px 10px 10px;

  .textFooter {
    margin-bottom: 0.5rem;
  }

  .devImg {
    width: 48px;
  }
}
