.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.float-window {
  font-family: 'Consolas', sans-serif;
  animation: flotar 3s ease-in-out infinite;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Programmer */
.programmer {
  position: relative;
  width: 200px;
}

.aside .btn-content {
  font-size: 1.1em;
}

@keyframes flotar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
