.float-window {
  border-radius: 10px;
  border: 1px solid var(--text-muted);
  font-family: 'Consolas', sans-serif;
  overflow: hidden;
  width: 40%;
  height: auto;
  width: 320px;
  animation: flotar 3s ease-in-out infinite;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card {
  min-height: 250px;
  background-color: transparent;
  color: var(--text-muted);
  font-size: 0.8em;
}

.header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid var(--text-muted);
  margin-bottom: 1rem;
}

.bxs-circle,
.bx-file,
.spanReadme {
  width: auto;
  color: var(--text-secondary-tr);
}

.body-card {
  display: flex;
  padding: 0rem 2rem;
}

.body-card p {
  font-size: 1em;
  text-align: justify;
  color: var(--text-muted);
}

.footer-card {
  height: 100%;
}

.float-window .bx {
}

@keyframes flotar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

.float-window .btn-box {
  position: relative;
  bottom: 0px;
  width: 20rem;
  height: 40px;
}

.float-window .btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background-color: var(--text-main);
  border: 0.2rem solid var(--text-main);
  border-radius: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-primary);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.float-window .btn-box .btn:hover {
  color: var(--text-main);
}

.float-window .btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-primary);
  z-index: -1;
  transition: 0.5s;
}

.float-window .btn-box .btn:hover::before {
  width: 100%;
}

.float-window #btn-down {
  font-size: 2rem;
}

