.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
/* General */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 1rem;
  padding-top: 80px;
  position: relative;
  z-index: 100;
  margin-bottom: 2rem;
  margin: auto;
  max-width: 1280px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content {
  width: 100%;
  max-height: 650px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 2rem;
}

/* Encabezado */
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  text-align: end;
  padding: 1rem;
}

.title-home,
.title-home p,
.title-home h1 {
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: end;
  align-items: end;
}

.title-home p {
  font-size: 1.8em;
  font-weight: lighter;
  margin: 0;
}

.title-home h1 {
  margin: 0;
  font-size: 2em;
  font-weight: 400;
}

.subtitle-home-en {
  margin-top: 0.5rem;
  font-size: 1.6em;
  align-items: end;
  justify-content: end;
  text-align: end;
  color: var(--text-secondary);
  font-family: 'Consolas';
  letter-spacing: -1px;
  position: relative;
  margin-bottom: 1.5rem;
  display: block;
  white-space: nowrap;
  border-right: 3px solid var(--text-secondary);
  width: 18ch;
  animation: typing-en 6s steps(18) infinite, blink 1s infinite;
  overflow: hidden;
}

.subtitle-home-en-display {
  display: none;
}

.subtitle-home-es {
  margin-top: 0.5rem;
  font-size: 1.6em;
  align-items: end;
  justify-content: end;
  text-align: end;
  color: var(--text-secondary);
  font-family: 'Consolas';
  letter-spacing: -1px;
  position: relative;
  margin-bottom: 1.5rem;
  display: block;
  white-space: nowrap;
  border-right: 3px solid var(--text-secondary);
  width: 22ch;
  animation: typing-es 6s steps(22) infinite, blink 1s infinite;
  overflow: hidden;
}

.subtitle-home-es-display {
  display: none;
}

@keyframes typing-en {
  0% {
    width: 0;
  }
  25% {
    width: 18ch;
  }
  80% {
    width: 18ch;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border: transparent;
  }
}

/* ES */
@keyframes typing-es {
  0% {
    width: 0;
  }
  25% {
    width: 22ch;
  }
  80% {
    width: 22ch;
  }
  100% {
    width: 0;
  }
}

.subtitle-home span:nth-child(2) {
  transform: translateY(3px);
  font-weight: bold;
  font-size: 1em;
}

/* Párrafo description */
.description {
  font-size: 0.9em;
  font-weight: 300;
  padding: 1rem 1.5rem;
  text-align: start;
}

/* Social Icons */
.divSocial {
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.iSocial {
  width: 42px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--text-secondary);
  border: 2px solid var(--color-muted);
  color: var(--text-secondary);
  color: var(--color-muted);
  transition: all 0.4s;
  cursor: pointer;
}

.iSocial:hover {
  transform: scale(0.95) translateY(-4px);
  color: var(--text-primary);
  border: 2px solid var(--text-secondary);
  background-color: var(--text-secondary);
}

@media (min-width: 768px) {
  /* General */
  .home {
    align-items: start;
    justify-content: space-between;
    align-items: center;
    padding: 120px 2rem 0rem;
    margin-bottom: 0;
  }

  .home-content {
    margin-bottom: 4rem;
  }

  /* Encabezado */
  .title-container {
    align-items: start;
  }

  .title-home,
  .title-home p,
  .title-home h1 {
    text-align: start;
    align-items: start;
  }

  .title-home p {
    font-size: 2.5em;
  }

  .title-home h1 {
    font-size: 3.2em;
  }

  .subtitle-home {
    font-size: 2.3em;
    text-align: start;
  }

  /* Párrafo description */
  .description {
    font-size: 1em;
    text-align: center;
  }

  /* Social Icons */
  .divSocial {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    height: 50px;
  }
}

@media (min-width: 1024px) {
  /* General */
  .home {
    padding: 150px 6rem 4rem;
  }

  .home-content {
    min-width: 55%;
  }
  /* Encabezado */
  .title-container {
    align-items: start;
  }

  .title-home,
  .title-home p,
  .title-home h1 {
    text-align: start;
    align-items: start;
  }

  .title-home p {
    font-size: 2.5em;
  }

  .title-home h1 {
    font-size: 3.2em;
  }

  .subtitle-home {
    font-size: 2.3em;
    text-align: start;
  }

  /* Social Icons */
  .divSocial {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    height: 50px;
  }
}

@media (min-width: 1200px) {
  /* General */
  .home {
    padding: 150px 6rem 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .home-container {
    max-width: 1280px;
    flex-direction: row;
    justify-content: space-around;
  }

  .home-content {
    max-width: 50%;
    height: 500px;
  }

  /* Párrafo description */
  .description {
    text-align: start;
  }
}

.Luz1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.Luz1::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 1px;
  color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 120px 100px rgba(12, 45, 107, 0.8);
  background-color: transparent;
}

.Luz1a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.Luz1a::before {
  content: '';
  position: absolute;
  top: 65%;
  left: 88%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 1px;
  color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 80px 60px rgba(12, 45, 107, 0.5);
  background-color: transparent;
}
