/* GENERAL */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 100;
  margin-top: 40px;
}

/* TITLE SECTION */
.titleSkills {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  color: var(--text-bright);
  margin-bottom: 2rem;
  align-self: flex-start;
  margin-left: 4rem;
}

.titleSkills span {
  font-size: 1.1em;
  color: var(--text-secondary);
}

.titleSkills::after {
  content: '';
  display: block;
  position: relative;
  bottom: 0px; /* Ajusta la posición vertical del subrayado */
  left: 0px;
  width: 120%; /* Ajusta la longitud del subrayado */
  border-bottom: 5px solid var(--text-secondary); /* Ajusta el estilo y color del subrayado */
}

/* CONTAINER */
.skills-content,
ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 3rem;
  max-width: 1080px;
  overflow: hidden;
}

.skill-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0.5rem;
}

/* SKILLS CARD */
.skill-card {
  width: 100px;
  height: 135px;
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 0.4rem;
  background-color: var(--bg-focus);
  background-color: var(--selection-dark);
}

/* IMG Card */
.skill-card-img {
  width: 60px;
  height: auto;
  margin-bottom: 1.2rem;
}

@media (min-width: 768px) {
  .skills {
    padding: 60px 2rem 0rem;
    max-width: 1280px;
    margin: auto;
  }
}

.Luz4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.Luz4::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 1px;
  color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 160px 150px rgba(12, 45, 107, 0.4);
  background-color: transparent;
}
