.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  position: absolute;
  right: 90px;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

.languages i {
  color: var(--text-muted);
}

select {
  background-color: transparent;
  border: none;
  width: auto;
  padding: 0;
  color: var(--text-muted);
  font-size: 0.9em;
  padding: 0.2rem;
  border: none;
}

select {
  border: none;
  outline: none;
}

select option {
  background-color: var(--bg-primary);
  width: auto;
  padding: 0;
  color: var(--text-muted);
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .languages {
    position: relative;
    right: 0;
    top: 0;
  }
}
