.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35px;
  position: absolute;
  right: 90px;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

.form-control {
  background-color: transparent;
  border: none;
  width: auto;
  padding: 0;
  color: var(--text-secondary);
  font-size: 0.8em;
  padding: 0.2rem;
}

.form-control:active {
  background-color: transparent;
}

.form-control option {
  background-color: var(--bg-primary);
  border: none;
  width: auto;
  padding: 0;
  color: var(--text-secondary);
  font-size: 0.8em;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .languages {
    position: relative;
    right: 0;
    top: 0;
  }
}
