/* TOGGLE */
.toggle {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
  opacity: 1;
}

/* Estado Original */
.line:nth-child(1) {
  width: 36px;
  height: 3px;
  border-radius: 1rem;
  background-color: var(--text-primary);
}

.line:nth-child(2) {
  width: 30px;
  height: 3px;
  border-radius: 1rem;
  background-color: var(--text-primary);
}

.line:nth-child(3) {
  width: 25px;
  height: 3px;
  border-radius: 1rem;
  background-color: var(--text-primary);
}

.toggle:hover span:nth-child(1) {
  transform: scaleX(0.8);
}
.toggle:hover span:nth-child(2) {
  transform: scaleX(0.5);
}
.toggle:hover span:nth-child(3) {
  transform: scaleX(0.8);
}
.toggle:active span:nth-child(1) {
  top: 13px;
}
.toggle:active span:nth-child(2) {
  top: 13px;
}
.toggle:active span:nth-child(3) {
  top: 13px;
}
