.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-principal {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--text-secondary);
}

@media screen and (min-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8%;
    padding: 1.5rem 10%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    z-index: 100;
    transition: background-color 0.3s;
  }

  .header.scrolled {
    background-color: var(--bg-primary);
  }
}
