.header {
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 999;
}

.header-principal {
  max-width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: relative;
  border-bottom: 1px solid var(--text-secondary);
}

.header.scrolled {
  z-index: 999;
  background-color: var(--bg-primary-tr);
  backdrop-filter: blur(10px);
}

@media screen and (min-width: 768px) {
  .header-principal {
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 90%;
    margin: auto;
  }
}

@media screen and (min-width: 1300px) {
  .header-principal {
    max-width: 1280px;
    margin: auto;
  }
}
