.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 100;
  margin-top: -60px;
  padding-top: 60px;
}

.titlePortfolio {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  color: var(--text-bright);
  margin-bottom: 2rem;
  align-self: flex-start;
  margin-left: 4rem;
}

.titlePortfolio span {
  font-size: 1.1em;
  color: var(--text-secondary);
}

.titlePortfolio::after {
  content: '';
  display: block;
  position: relative;
  bottom: 0px; /* Ajusta la posición vertical del subrayado */
  left: 0px;
  width: 120%; /* Ajusta la longitud del subrayado */
  border-bottom: 5px solid var(--text-secondary); /* Ajusta el estilo y color del subrayado */
}

/* Portfolio Content */
.portfolio-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Card Portfolio */
.cardPortfolio {
  background: linear-gradient(
    to left,
    var(--text-transparent),
    var(--text-transparent-dark)
  );
  border-bottom: 5px solid var(--text-secondary);
  box-shadow: 0 0 2px 1px var(--text-secondary-tr);
  border-radius: 8px;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  text-align: end;
  overflow: hidden;
  margin: 1rem;
}
/* IMG Card */
.cardPortfolio img {
  width: 100%;
  width: auto;
  border: none;
  position: relative;
  top: 0;
}

/* cardPortfolioContainer */
.cardPortfolioDescription {
  padding: 0.5rem;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.cardPortfolioDescription h3 {
  font-size: 1.2em;
  margin: 0;
  color: var(--text-secondary);
}

.cardPortfolioDescription h5 {
  font-size: 1.1em;
  margin: 0;
}
.cardPortfolioDescription p {
  text-align: end;
  margin: 0;
  margin-top: 0.5rem;
  font-size: 0.85em;
  color: var(--text-secondary);
}

a {
  text-decoration: none;
}

/* BTN */
.btn-content {
  position: relative;
  bottom: 0;
  width: 100%;
  color: black;
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;
  font-size: 0.8em;
}

.button-card-portfolio {
  background-color: var(--bg-secondary);
  border: 2px solid var(--text-secondary-tr);
  position: relative;
  width: 110px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  font-size: 1.2em;
  border-radius: 25px;
  padding: 0.5rem;
  z-index: 1;
  overflow: hidden;
}

.button-card-portfolio:hover p,
.button-card-portfolio:hover i {
  font-weight: 400;
  color: var(--text-bright);
}

/* Animación BG Color BTN REPO */
.button-card-portfolio::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0%;
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, var(--text-secondary-tr), var(--focus));
  z-index: -1;
  transition: 0.3s;
}

/* Animación Der a Izq */
.button-card-portfolio:hover::before {
  width: 100%;
}

.button-card-portfolio p {
  color: var(--text-bright);
  margin: 0;
}

.btn-content i {
  color: var(--text-secondary);
}

@media (min-width: 768px) {
  .portfolio {
    margin-top: 2rem;
  }
  /* Portfolio Content */
  .portfolio-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .cardPortfolio {
    height: 480px;
  }

  /* cardPortfolioContainer */
  .cardPortfolioDescription {
    padding: 0.5rem;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .cardPortfolioDescription h3 {
    font-size: 1.5em;
    margin: 0;
    color: var(--text-secondary);
  }

  .cardPortfolioDescription h5 {
    font-size: 1.1em;
    margin: 0;
  }

  .cardPortfolioDescription p {
    text-align: end;
    margin: 0;
    margin-top: 0.2rem;
    font-size: 0.9em;
    color: var(--text-secondary-tr);
  }

  /* BTN */
  .btn-content {
    position: relative;
    bottom: 0;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-around;
    margin: 0 0 0.5rem;
    font-size: 0.8em;
  }
}

@media (min-width: 1024px) {
  .portfolio {
    margin-top: 4rem;
  }
}
