* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-align: center;
  color: var(--text-primary);
  text-align: center;
}

html,
body {
  background-color: var(--bg-primary);
  font-family: 'Poppins', 'Tilt Warp', 'Palanquin Dark', 'Secular One',
    sans-serif;
}
