* {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', 'Tilt Warp', 'Palanquin Dark', 'Secular One',
    sans-serif;
  text-align: center;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  text-align: center;
}
