:root {
  --color-white: rgb(201, 209, 217);
  --color-bright: rgb(227, 233, 240);
  --color-muted: rgb(139, 148, 158);
  --color-dark: rgb(33, 37, 44);
  --color-muted-dark: rgb(33, 38, 45);

  --bg-primary: #0f172a;
  --bg-primary-tr: rgba(15, 23, 42, 0.9);
  --bg-secondary: #1a242f;
  --bg-tertiary: #252b31;
  --bg-focus: rgb(12, 45, 107);

  --selection: #1c76c5;
  --selection-dark: rgba(28, 118, 197, 0.4);

  --text-primary: #ededed;
  --text-secondary: #00abf0;
  --text-secondary-tr: rgba(0, 171, 240, 0.5);
  --text-transparent: rgba(0, 171, 240, 0.2);
  --text-transparent-dark: rgba(0, 171, 240, 0.1);
  --text-bright: rgb(227, 233, 240);
  --text-muted: rgb(139, 148, 158);

  --links: #0ea5e9;
  --focus: rgb(56, 139, 253);

  --border: rgb(33, 37, 44);
  --border-muted: rgb(33, 38, 45);
  --border-bright: rgb(139, 148, 158);
  --button-hover: #324759;

  --form-placeholder: #a9a9a9;
}
